Lab2_1.json
{
  "name": "Lab2-1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ca5e2fe0-c54e-42df-a3be-03724726fae5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc4da442-b1a1-40e0-96be-b730b3189e9d",
              "name": "name",
              "value": "Aliice",
              "type": "string"
            },
            {
              "id": "97063c3d-98b5-452a-861c-8ad508b46692",
              "name": "age",
              "value": 12,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "24dfdbb5-e543-4abb-98c7-b31084841a5d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "n8n-project-68-d7db8",
        "collection": "users",
        "columns": "name,age"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "56f67702-a5e3-482e-91d1-5c7f27cfbe6f",
      "name": "Google Cloud Firestore",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "EM7r13UxZPVxVF81",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7be5246e-3886-4dc6-aba0-e2618122f0cd",
              "name": "_id",
              "value": "={{ $json._id }}",
              "type": "string"
            },
            {
              "id": "e055e8b3-98a8-4a4d-8eba-2e8769651321",
              "name": "name",
              "value": "John",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "21ae42e4-5523-485c-98c9-d9e1bc96b139",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "projectId": "n8n-project-68-d7db8",
        "collection": "users",
        "updateKey": "=id",
        "columns": "name"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "id": "f5a923ed-6764-46ec-a299-65a794c32453",
      "name": "Google Cloud Firestore1",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "EM7r13UxZPVxVF81",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Firestore": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "680ea81d-b25c-40f6-b71c-98c35989d0de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0baecdcb943da5ee70b5bdce2a29554b607dcf63ebc92e3c63dab7786755b2c0"
  },
  "id": "tlXNybYTrBwFBRAq",
  "tags": []
}