My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dec70a6d-4d83-4b6a-a434-94c4bb0c6203",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7207e49d-3c05-4ed4-9a5e-45a012ae97e6",
      "name": "Webhook",
      "webhookId": "dec70a6d-4d83-4b6a-a434-94c4bb0c6203"
    },
    {
      "parameters": {
        "jsCode": "const name = $input.first().json.body?.name || \"Guest\";\nreturn {\n  json:{\n    message: `Hello, ${name}! Welcome to n8n`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "6a5dbe72-a8b0-436d-8cab-287a2d4d302b",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "a765d936-09c1-4f0c-8c9b-7685d89d19bd",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "712beb10-be10-4da8-8a4f-e8a6c4901bd5",
  "meta": {
    "instanceId": "0baecdcb943da5ee70b5bdce2a29554b607dcf63ebc92e3c63dab7786755b2c0"
  },
  "id": "GFlIAZwNFnFtnCzx",
  "tags": []
}